services:
  antoinemcx_fr:
    image: ghcr.io/antoinemcx/antoinemcx.fr:latest
    environment:
      - PORT=9000
    networks:
      - traefik-proxy
    labels:
      - traefik.enable=true
      - traefik.http.services.antoinemcx-https.loadbalancer.server.port=9000
      - traefik.http.routers.antoinemcx-https.tls=true
      - traefik.http.routers.antoinemcx-https.tls.certresolver=cloudflare
      - traefik.http.routers.antoinemcx-https.entrypoints=websecure
      - traefik.http.routers.antoinemcx-https.rule=Host(`antoinemcx.fr`)
    healthcheck:
      test: [CMD, node, -e, "require('http').get('http://localhost:9000/', (r) => {process.exit(r.statusCode === 200 ? 0 : 1)})"]
      interval: 30s
      timeout: 3s
      start_period: 10s
      retries: 3
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 3

networks:
  traefik-proxy:
    external: true
