.main-section { background-color: var(--background); }
body { background-color: var(--background-alt); }

.accordion {
    width: 90%; box-sizing: border-box; padding-top: 50px;
}
.accordion .accordion-item {
    height: 100%; margin-bottom: 1em; border-radius: 5px;
    background-color: var(--bg-card); 
    --tw-shadow: var(--endpoints-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.accordion-item .container { padding-top: 15px; padding-bottom: 15px; }

.accordion-content { display: none; }
.accordion-title:hover, .accordion-title.active { background-color: var(--contactform); }
.accordion-title::after {
    content: '\002B'; font-weight: bold; float: right;
    margin-left: 5px; color: var(--gray); font-family: 'Glyphicons Halflings';
}
.accordion-title.active::after { content: "\2212"; }
.accordion-title { cursor: pointer; font-size: 18px; font-weight: bold; }

table { width: 100%; }
table td { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
table td, table th, table tr {
    text-align: left;
    max-width: 100%;
    padding: 0.857em;
}
.api-url { font-style: italic; cursor: pointer; color: var(--white) }