.main-section { padding-top: 25px; background-color: var(--background); }
body { background-color: var(--background-alt); }
.main-body { padding-top: 50px; }

.generator-container {
    background-color: var(--bg-card); padding: 20px; width: 375px; max-width: 100%; border-radius: 8px;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.result-container {
    background-color: var(--contactform); font-size: 18px; letter-spacing: 1px;
    display: flex; justify-content: flex-start; align-items: center;
    position: relative; padding: 12px 10px; height: 50px; width: 100%;
}
.result-container #result { word-wrap: break-word; max-width: calc(100% - 40px); }
.result-container #result:hover { cursor: pointer; }
.result-container .btn { font-size: 20px; position: absolute; top: 5px; right: 5px; height: 40px; width: 40px; }
.btn-large { display: block; width: 100% }
.setting { display: flex; justify-content: space-between; align-items: center; margin: 15px 0; }
@media screen and (max-width: 400px) {
    .result-container { font-size: 14px; }
    .main-section { padding-top: 0px!important; }
    .main-body { padding-top: 35px!important; }
    .generator-container { margin-bottom: 50px; }
}
#clipboard { background: var(--bg-card); color: var(--white) }
#generate { background: var(--contactform); color: var(--white) }

.generator-info { margin-left: 30px; max-width: 450px; color: var(--text)}
@media screen and (max-width: 975px) { .generator-info { display: none; } }

/* Spécifique à la page */
.range { width: 60%; }
input[type=range] { -webkit-appearance: none; }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%; height: 4px; border-radius: 25px;
    cursor: pointer; background: var(--darkblurple);
}
input[type=range]::-moz-range-track {
    width: 100%; height: 4px; border-radius: 25px;
    cursor: pointer; background: var(--darkblurple);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; border: none;
    height: 17px; width: 17px;
    border-radius: 50%; background-color: var(--blurple);
    box-shadow: 0 0 3px 0 rgba(0,0,0, 1);
    cursor: pointer; margin-top: -6px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none; border: none;
    height: 17px; width: 17px;
    border-radius: 50%; background-color: var(--blurple);
    box-shadow: 0 0 3px 0 rgba(0,0,0, 1);
    cursor: pointer; margin-top: -6px;
}
input[type='checkbox'] { margin-right: 0; accent-color: var(--blurple) }