name: Deployment

on:
  workflow_run:
    workflows: [CI (Continuous Integration)]
    types:
      - completed

permissions:
  contents: read
  packages: write

env:
  NODE_VERSION: 22

jobs:
  publish:
    runs-on: ubuntu-latest

    # Only run on master if CI succeeded
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'master'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build latest image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest .

      - name: Build image with deployment tag
        run: |
          COMMIT_SHA=$(echo ${{ github.event.workflow_run.head_sha }} | cut -c1-7)
          docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:$COMMIT_SHA .

      - name: Push latest image to GHCR
        run: docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest

      - name: Push deployment image to GHCR
        run: |
          COMMIT_SHA=$(echo ${{ github.event.workflow_run.head_sha }} | cut -c1-7)
          docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:$COMMIT_SHA

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: publish

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #       with:
  #         ref: ${{ github.event.workflow_run.head_sha }}
  #   - uses: actions/setup-node@v4
  #     with:
  #       node-version: ${{ env.NODE_VERSION }}
  #       cache: npm
  #   - run: npm ci --omit=dev
  #   - run: npm run build

  #   - name: Get SSH key
  #     run: |
  #       mkdir -p ~/.ssh
  #       echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
  #       chmod 600 ~/.ssh/id_rsa
  #   - name: Pull Docker images restart application
  #     run: ssh -p ${{ secrets.SSH_PORT }} -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.SSH_APP_PATH }} && docker compose pull && docker compose up -d"
